/* theme colors 
	blue: #81c2ff
	green: #12b681
	pink: #ff7d6e
*/

/* general styling */

.margin-bottom {margin-bottom: 3%;}
.shadow {box-shadow: 0px 0px 2px #A6A6A6;}
.padded {padding-top: 3%}
.bg-blue {background-color: #81c2ff}
.bg-green {background-color: #12b681}
.bg-pink {background-color: #ff7d6e}

.social { 
	display: inline;
	text-align: center;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 1%;
}

/* Body */
body {
	font-family: 'Open Sans', sans-serif;
	background-image: url("img/background.png");
}

/* Navigation */

#logo {
	height: 100%;
}

.nav-style {
	background-color: white;
	border: none;
	border-radius: 0;
	box-shadow: 0px 0px 2px #A6A6A6;
}

.nav-style a {
	color: #ff7d6e;
}

.nav-style button {
	background-color: #ff7d6e;
}

.icon-bar {
	background-color: white;
}

/* team member info */

.img-team {
	border: solid;
	border-width: 5px;
	border-color: white;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	width: 60%;
}

.person-info {
	margin: 0 auto;
	width: 60%;
	text-align: center;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-color: white;
	border-width: 5px;
	padding-top: 7px;
	padding-bottom: 2px;
	color: white;
	box-shadow: 0px 0px 2px #A6A6A6;
}

.person-info a {
	color: white;
}

/* index styling */

.index-logo {
	width: 80%;
}

.index-video {
	margin-bottom: 5%;
}

/* content */

.content-card {
	background-color: white;
	box-shadow: 0px 0px 2px #A6A6A6;
	text-align: left;
	margin: 0 auto;
	width: 80%;
	max-width: 850px;
	margin-bottom: 3%;
	margin-top: 3%;
	padding-bottom: 20px;
}

.mission {text-align: center;}

/* Responsive Images */

.img-center {margin:0 auto;}

#Timmy {
	position: relative;
	top: 10px;
	width: 30%;
	padding-left: 15px;
	padding-bottom: 10px;
}

#TFLogo {
	position: relative;
	width: 40%;
	padding-right: 15px;
}

/* footer */

.footer-style {
	background-color: #FFFFFF;
	padding:10px;
	padding-top: 3%;
	text-align: center;
	box-shadow: 0px 0px 2px #A6A6A6;
}

.footer-content {
	margin: 0 auto;
	width: 80%;
	text-align: left;
}

.footer-header {
	font-weight: bold;
}

.footer-info {
	font-size: 0.9em;
}
